<%- include("header") -%>

	<!-- Start of page head section 
	============================================= -->
	<section id="page-head" class="page-head-section">
		<div class="page-head-overlay">
			<div class="container">
				<div class="row">
					<div class="page-head-content">
						<div class="page-head-style">
							<img src="assets/img/page-head-style.png" alt="image">
						</div>
						<div class="page-head-title text-uppercase">
							<h2>404</h2>
						</div>
						<div class="page-breadcrumb">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="home-1.html"><span class="mr5 ti-home"></span>Home</a></li>
								<li class="breadcrumb-item active">404</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of  page head section  
	============================================= -->

	<!-- End of  page head section  
	============================================= -->
	<section id="error" class="error-section pb60">
		<div class="container">
			<div class="row section-content text-center">
				<div class="error-section-content pb30">
					<h2 class="red">404</h2>
				</div>
				<div class="error-text text-uppercase text-center pb20">
					<p><span class="red ti-signal"></span> OOPS! THE PAGE YOU ARE REQUESTED WAS NOT FOUND</p>
				</div>
				<div class="become-member-button text-center text-uppercase">
					<div class="donate-btn text-uppercase">
						<a href="home-1.html">go to home</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of  page head section  
	============================================= -->

	<!-- Start of partner section
	============================================= -->
	<section id="partner" class="partner-section">
		<div class="container">
			<div class="row">
				<div class="partner-section-slider">
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-1.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-3.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-3.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-1.png" alt="image"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of partner section
	============================================= -->

	<%- include("footer") -%>