<%- include("header") -%>

	<!-- Start of Ways of help 
	============================================= -->
	<section id="way-help" class="way-help-section">
		<div class="container">
			<div class="row section-content">
				<div class="section-title text-center">
					<div class="section-title-text text-uppercase">
						<p>YOUR SUPPORT APPRECIATED</p>
					</div>
					<div class="section-title-text">
						<h2>Some Ways To Help</h2>
					</div>
				</div>
				<!-- /section-title -->
				<div class="way-help-section-content">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="way-help-pic-text text-center colmd3">
								<div class="way-help-pic pb30">
									<img src="assets/img/help-4.png" alt="image">
								</div>
								<!-- /img -->
								<div class="way-help-text">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="black">MAKE DONATION</h3>
									</div>
									<div class="way-help-text-content">
										<p>Make Donations to help poor children</p>
									</div>
								</div>
								<!-- /text -->
								<div class="hover-content">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="red">MAKE DONATION</h3>
									</div>
									<div class="way-help-text-content pb20">
										<p>Make Donations to help poor children</p>
									</div>
									<div class="way-help-pic pb30">
										<a href="#"><span class="red ti-plus"></span></a>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-3 -->

						<div class="col-md-3 col-sm-6">
							<div class="way-help-pic-text text-center colmd3">
								<div class="way-help-pic pb30">
									<img src="assets/img/help-2.png" alt="image">
								</div>
								<!-- /img -->
								<div class="way-help-text">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="black">BECOME VOLUNTEER</h3>
									</div>
									<div class="way-help-text-content">
										<p>Join with us and represent us in your area.</p>
									</div>
								</div>
								<!-- /text -->
								<div class="hover-content">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="red">BECOME VOLUNTEER</h3>
									</div>
									<div class="way-help-text-content pb20">
										<p>Join with us and represent us in your area.</p>
									</div>
									<div class="way-help-pic pb30">
										<a href="#"><span class="red ti-plus"></span></a>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-3 -->

						<div class="col-md-3 col-sm-6">
							<div class="way-help-pic-text text-center colmd3">
								<div class="way-help-pic pb30">
									<img src="assets/img/help-3.png" alt="image">
								</div>
								<!-- /img -->
								<div class="way-help-text">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="black">SUPPORT US</h3>
									</div>
									<div class="way-help-text-content">
										<p>What we neeed is your support</p>
									</div>
								</div>
								<!-- /text -->
								<div class="hover-content">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="red">SUPPORT US</h3>
									</div>
									<div class="way-help-text-content pb20">
										<p>What we need is your support</p>
									</div>
									<div class="way-help-pic pb30">
										<a href="#"><span class="red ti-plus"></span></a>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-3 -->

						<div class="col-md-3 col-sm-6">
							<div class="way-help-pic-text text-center colmd3">
								<div class="way-help-pic pb30">
									<img src="assets/img/help-4.png" alt="image">
								</div>
								<!-- /img -->
								<div class="way-help-text">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="black">OUR PROGRAMS</h3>
									</div>
									<div class="way-help-text-content">
										<p>Be present for our programs.</p>
									</div>
								</div>
								<!-- /text -->
								<div class="hover-content">
									<div class="way-help-head pb20 text-uppercase">
										<h3 class="red">OUR PROGRAMS</h3>
									</div>
									<div class="way-help-text-content pb20">
										<p>Be present for our programs.</p>
									</div>
									<div class="way-help-pic pb30">
										<a href="#"><span class="red ti-plus"></span></a>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-3 -->
					</div>
				</div><!-- /way-help-section-content -->
			</div><!-- /row-->
		</div><!-- /container -->
	</section>
	<!-- End of Ways of help  
	============================================= -->


	<!-- Start of Count Down 
	============================================= -->
	<section id="countdown-area" class="countdown-section">
		<div class="container">
			<div class="row section-content">
				<div class="countdown-section-content">
					<div class="row">
						<div class="col-md-6">
							<div class="about-slider-text">
								<div class="about-slider-text-head pb40">
									<h2 class="black">We work to make a better world, join us in the movement.</h2>
								</div>
								<div class="about-slider-text-details pb20">
									<p>We raise the funds to provide the better education for children who cannot afford education. </p>
								</div>
								<div class="about-slider-text-details">
									<p>We organised the programs to help the needy ones, to help the hungry children. Our mission: Food and shelter for every children </p>
								</div>
							</div>
						</div>
						<!-- /col-md-6 -->
						<div class="col-md-6">
							<div class="about-us count-right-img pl30 colmd6">
								<div class="about-us-slider">
									<div class="about-us-slider-img">
										<img src="assets/img/count-right.jpg" alt="image">
									</div>
									<div class="about-us-slider-img">
										<img src="assets/img/count-right.jpg" alt="image">
									</div>
									<div class="about-us-slider-img">
										<img src="assets/img/count-right.jpg" alt="image">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</section>
	<!-- End of Count Down  
	============================================= -->

	<!-- Start of our Volunteer 
	============================================= -->
	<section id="our-volunteer" class="our-volunteer-section">
		<div class="container">
			<div class="row section-content">
				<div class="section-title text-center">
					<div class="section-title-text text-uppercase">
						<p>meet our volunteer </p>
					</div>
					<div class="section-title-text">
						<h2>Our Volunteer</h2>
					</div>
				</div>
				<!-- /title -->
				<div class="volunteer-slide">
					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-1.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">John Kepler</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-2.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Jenny</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-3.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Morgan</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-4.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Eleena</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->


					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-1.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Watson</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-2.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Jenifer</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-3.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Kevin</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-4.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Selena</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-1.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Alastair</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-2.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Gomezay</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-3.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Mount</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->

					<div class="our-volunteer-section-content colmd3">
						<div class="volunteer-pic-text">
							<div class="volunteer-pic">
								<img src="assets/img/member-4.jpg" alt="image">
							</div>
							<div class="volunteer-text">
								<div class="name-designation text-center">
									<div class="volunteer-name">
										<a class="red" href="#">Victoria</a>
									</div>
									<div class="volunteer-designation">
										<p>SEO Specialist</p>
									</div>
								</div>
							</div>
							<div class="volunteer-icon">
								<div class="icon-hover">
									<span class="ti-plus"></span>
								</div>
								<div class="volunteer-social-icon">
									<ul class="volunteer-social-icon-list text">
										<li><a href="#"><span class="ti-facebook"></span></a></li>
										<li><a href="#"><span class="ti-twitter"></span></a></li>
										<li><a href="#"><span class="ti-google"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- /our-volunteer-section-content -->
				</div>
			</div>
		</div>
	</section>
	<!-- End of our Volunteer 
	============================================= -->

<!-- Start of Our Impact   
	============================================= -->
	<section id="our-impact" class="our-impact-section">
		<div class="container">
			<div class="row section-content">
				<div class="our-impact-section-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="section-title text-center pull-left">
								<div class="section-title-text text-uppercase text-left">
									<p>HAVE A LOOK</p>
								</div>
								<div class="section-title-text text-left pb35">
									<h2>Our Impact</h2>
								</div>
								<div class="section-title-text-1 text-left">
									<p>We have provide education to millions of children. Every day our team is working to make sure that no child remains hungry. We are doing our best to provide shelters for poor children.</p>
								</div>
							</div>
							<!-- /section-title -->
							<div class="impact-achieve">
								<div class="row">
									<div class="col-sm-4 col-xs-6">
										<div class="impact-achieve-content clearfix">
											<div class="impact-achievet-icon-text text-left">
												<div class="impact-achieve-icon">
													<span class="red ti-gift"></span>
												</div>
												<div class="impact-achieve-text text-uppercase">
													<span class="dolor">$</span><span class="count">695437</span>
													<p>RAISED</p>
												</div>
											</div>
										</div>
									</div>
									<!-- /1st-count -->

									<div class="col-sm-4 col-xs-6">
										<div class="impact-achieve-content">
											<div class="impact-achievet-icon-text text-left">
												<div class="impact-achieve-icon">
													<span class="red ti-receipt"></span>
												</div>
												<div class="impact-achieve-text text-uppercase">
													<span class="count">2569</span>
													<p>events</p>
												</div>
											</div>
										</div>
									</div>
									<!-- /1st-count -->

									<div class="col-sm-4 col-xs-12">
										<div class="impact-achieve-content">
											<div class="impact-achievet-icon-text text-left">
												<div class="impact-achieve-icon">
													<span class="red ti-crown"></span>
												</div>
												<div class="impact-achieve-text text-uppercase">
													<span class="count">3750</span>
													<p>doner</p>
												</div>
											</div>
										</div>
									</div>
									<!-- /1st-count -->
								</div>
							</div>
						</div>
						<!-- /col-md-8 -->
						<div class="col-sm-4">
							<div class="impact-left-content">
								<div class="top-border">
									<span class="border-1"></span>
									<span class="border-2"></span>
									<span class="border-3"></span>
								</div>
								<div class="become-member">
									<div class="become-member-head pb30">
										<h3 class="black">Become a Part Of the World</h3>
										<p>Join with us, work for better tomorrow of others.</p>
									</div>
									<div class="become-member-form">
										<form action="#" method="post">
											<div class="contact-info mb20">
												<input class="name" name="name" type="text" placeholder="Name">
											</div>
											<div class="contact-info mb20">
												<input class="name" name="name" type="text" placeholder="Email">
											</div>
											<div class="contact-select pb40">
												<select>
													<option value="volvo">Subject</option>
													<option value="saab">Issue</option>
													<option value="mercedes">Events</option>
													<option value="audi">Occation</option>
												</select>
											</div>
											<div class="become-member-button text-center">
												<button type="submit" value="Submit">BECOME  A VOLuNTeER</button>
											</div>
										</form>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /our-impact-section-content -->
			</div><!-- /row -->
		</div><!-- /container -->
	</section>
	<!-- End of Our Impact 
	============================================= -->

	<!-- Start of can we do section 
	============================================= -->
	<section id="can-we-do" class="can-we-do-section">
		<div class="container">
			<div class="row section-content">
				<div class="section-title text-center">
					<div class="section-title-text text-uppercase">
						<p>YOU MIGHT INTEREST</p>
					</div>
					<div class="section-title-text">
						<h2>What Can We Do</h2>
					</div>
				</div>
				<!-- /section-title -->

				<div class="can-we-do-section-content">
					<div class="row">
						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-crown"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"> <a href="#">Crowd Funding</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-crown"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We raise money for funding it to various projects.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->

						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-heart"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"><a href="#">Make Donation</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-heart"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We collect donations to help poor children.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->

						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-support"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"><a href="#">Medical Support</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-support"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We provide medical help to others.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->

						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-book"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"><a href="#">Education Fund</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-book"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We collect funds to provide quality of education to poors.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->

						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-timer"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"><a href="#">Event Organize</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-timer"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We organize various events to help others.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->

						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-wheelchair"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"><a href="#">Help Disability</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-wheelchair"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We raise funds to help the disable people.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->

						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-paint-bucket"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"><a href="#">Blood Donation</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-paint-bucket"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We organize camp for blood donations.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->

						<div class="col-md-3">
							<div class="we-can-do-text-icon  text-center colmd3">
								<div class="we-can-do-icon">
									<span class="red ti-gift"></span>
								</div>
								<div class="we-can-do-text">
									<h3 class="we-can-do-head red"><a href="#">Gift Collection</a></h3>
								</div>
								<div class="hide-icon">
									<span class="red ti-gift"></span>
								</div> 
								<div class="hide-text text-left">
									<p>We collects various gifts for poor children.</p>
								</div>
							</div>
						</div>
						<!-- /col-md-3 -->
					</div>
				</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</section>
	<!-- End of can we do section 
	============================================= -->

	<!-- Start of video bg section
	============================================= -->
	<section id="video-bg">
		<div class="video-bg-section">
			<div class="overlay">
				<div class="container">
					<div class="row section-content">
						<div class="section-title text-center">
							<div class="section-title-text">
								<h2>The Work we do <span class="red">Watch the video.</span></h2>
							</div>
						</div>
						<!-- /section-title -->
						<div class="video-play-section">
							<div class="video-play-content">
								<div class="video-play-img">
									<img src="assets/img/video-play-bg.jpg" alt="image">
								</div>
								<div class="play-icon-text text-center text-uppercase">
									<div class="play-text text-uppercase mt25 pull-left">
										<p>check the palyer to </p>
									</div>
									<div class="play-icon pull-left">
										<a class="popup-with-zoom-anim" href="https://youtu.be/O2VuTIe5BUs"><span class="red ti-control-play "></span></a>
									</div>
									<div class="play-text text-uppercase mt25 pull-left">
										<p>watch the overview </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of video bg section
	============================================= -->

	<!-- Start of Latest news
	============================================= -->
	<section id="latest-news" class="latest-news-section">
		<div class="container">
			<div class="row section-content">
				<div class="latest-news-content">
					<div class="row">
						<div class="col-sm-7">
							<div class="section-title">
								<div class="section-title-text text-uppercase text-left">
									<p>YOU MIGHT INTEREST</p>
								</div>
								<div class="section-title-text text-left">
									<h2>Latest News</h2>
								</div>
							</div>
							<!-- /section-title -->
							<div class="latest-news-date-text-content">
								<div class="latest-news-date-text pb20">
									<div class="latest-news-date pull-left mr45">
										<span class="date pull-left">15</span>
										<span class="month text-uppercase pull-left">August</span>
										<span class="year">2020</span>
									</div>
									<!-- /latest-news-date-text -->
									<div class="latest-news-text">
										<div class="latest-news-head">
											<h3><a href="#">Helped 1.2 million children</a> </h3>
										</div>

										<!-- /latest-news-text -->
										<div class="latest-news-meta mt10">
											<div class="meta">
												<ul class="meta-list">
													<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Virat</a></li>
													<li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
												</ul>
											</div>
										</div>
										<div class="latest-news-text-details mt10">
											<p>We provided education for more than 1.2 million children.</p>
										</div>
									</div>
								</div>
								<!-- /latest-news-date-text -->

								<div class="latest-news-date-text pb10 mt25">
									<div class="latest-news-date pull-left mr45">
										<span class="date pull-left">20</span>
										<span class="month text-uppercase pull-left">September</span>
										<span class="year">2020</span>
									</div>
									<!-- /latest-news-date-text -->
									<div class="latest-news-text">
										<div class="latest-news-head">
											<h3><a href="#">Shelter for 1 million children</a></h3>
										</div>

										<!-- /latest-news-text -->
										<div class="latest-news-meta mt10">
											<div class="meta">
												<ul class="meta-list">
													<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tanmay</a></li>
													<li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
												</ul>
											</div>
										</div>
										<div class="latest-news-text-details mt10">
											<p>Fund me provided shelter for more than 1 million children across the nation.</p>
										</div>
									</div>
								</div>
								<!-- /latest-news-date-text -->

								<div class="latest-news-date-text pb10 mt25">
									<div class="latest-news-date pull-left mr45">
										<span class="date pull-left">26</span>
										<span class="month text-uppercase pull-left">October</span>
										<span class="year">2020</span>
									</div>
									<!-- /latest-news-date-text -->
									<div class="latest-news-text">
										<div class="latest-news-head">
											<h3><a href="#">Food for millions.</a></h3>
										</div>

										<!-- /latest-news-text -->
										<div class="latest-news-meta mt10">
											<div class="meta">
												<ul class="meta-list">
													<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Pollard</a></li>
													<li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
												</ul>
											</div>
										</div>
										<div class="latest-news-text-details mt10">
											<p>Fund me provides food for children everyday, helping over million children.</p>
										</div>
									</div>
								</div>
								<!-- /latest-news-date-text -->
							</div>
						</div>
						<!-- /col-md-7 -->
						<div class="col-sm-5">
							<div class="latest-news-slide-content">
								<div class="latest-news-slide text-center">
									<div class="slide-quate-pic pb60">
										<img src="assets/img/quate.png" alt="image">
									</div>
									<!-- /slide-quate-pic -->
									<div class="slide-text pb60">
										<p>We are glad that we could help million of children. Still miles to go.
										</p>
									</div>
									<!-- /slide-text -->
									<div class="quate-client-pic-text">
										<div class="quate-client-pic pb60">
											<div class="author-pic">
												<img src="assets/img/quate-pic.jpg" alt="image">
											</div>
										</div>
										<div class="quate-client-text pb30">
											<span class="client-name"><a href="#">Tamanna</a></span>
											<span class="designation">CEO, CodexPond</span>
										</div>
									</div>
									<!-- /quate-client-pic-text -->
								</div>
								<!-- latest-news-slide -->

								<div class="latest-news-slide text-center">
									<div class="slide-quate-pic pb60">
										<img src="assets/img/quate.png" alt="image">
									</div>
									<!-- /slide-quate-pic -->
									<div class="slide-text pb60">
										<p>What a privilege to be here on the planet to contribute your unique donation to humankind. Each face in the rainbow of colors that populate our world is precious and special.
										</p>
									</div>
									<!-- /slide-text -->
									<div class="quate-client-pic-text">
										<div class="quate-client-pic pb60">
											<div class="author-pic">
												<img src="assets/img/quate-pic.jpg" alt="image">
											</div>
										</div>
										<div class="quate-client-text pb30">
											<span class="client-name"><a href="#">Tamanna</a></span>
											<span class="designation">CEO, CodexPond</span>
										</div>
									</div>
									<!-- /quate-client-pic-text -->
								</div>
								<!-- latest-news-slide -->

								<div class="latest-news-slide text-center">
									<div class="slide-quate-pic pb60">
										<img src="assets/img/quate.png" alt="image">
									</div>
									<!-- /slide-quate-pic -->
									<div class="slide-text pb60">
										<p>Making a donation is the ultimate sign of solidarity. Actions speak louder than words.
										</p>
									</div>
									<!-- /slide-text -->
									<div class="quate-client-pic-text">
										<div class="quate-client-pic pb60">
											<div class="author-pic">
												<img src="assets/img/quate-pic.jpg" alt="image">
											</div>
										</div>
										<div class="quate-client-text pb30">
											<span class="client-name"><a href="#">Tamanna</a></span>
											<span class="designation">CEO, CodexPond</span>
										</div>
									</div>
									<!-- /quate-client-pic-text -->
								</div>
								<!-- latest-news-slide -->

							</div>
						</div>
						<!-- /col-md-5 -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of Latest news
	============================================= -->

	<!-- Start of partner section
	============================================= -->
	<section id="partner" class="partner-section">
		<div class="container">
			<div class="row">
				<div class="partner-section-slider">
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-1.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-3.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-3.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-1.png" alt="image"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of partner section
	============================================= -->


	<%- include("footer") -%>
