<%- include("header") -%>

	<!-- Start of blog-archive 
	============================================= -->
	<section id="blog-archive" class="blog-archive-section pt60 pb40">
		<div class="container">
			<div class="row">
				<div class="blog-archive-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="left-side-blog">
								<div class="blog-pic-text mb50">
									<div class="row">
										<div class="col-sm-6">
											<div class="blog-img">
												<img src="assets/img/blog-pic-1.jpg" alt="image">
											</div>
										</div>
										<!-- /col-md-6 -->
										<div class="col-sm-6">
											<div class="blog-text">
												<div class="blog-tag text-uppercase pt40">
													<span class="tag-name red">EDUCTAION</span>
												</div>
												<!-- /blog-tag -->
												<div class="blog-head-title pt15">
													<h2 class="black"><a href="blog-single.html">Stop Running on Hard Surf and Become a Trail Runner</a></h2>
												</div>
												<div class="blog-meta mt10">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
														<li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
													</ul>
												</div>
												<div class="blog-text-content mt10 pb20">
													<p>
														Lorem ipsum dolor sit amet consecteturely is  adipisicing elit seddon eiusmod tempor incid  labore et dolore magna aliqua enim adminim veniam. elit seddon 
													</p>
												</div>
												<div class="blog-button text-uppercase">
													<a href="blog-single.html">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
												</div>
											</div>
											<!-- /blog-text -->
										</div>
									</div>
								</div>
								<!-- /blog-text-pic -->

								<div class="blog-pic-text mb50">
									<div class="row">
										<div class="col-sm-6">
											<div class="blog-img">
												<img src="assets/img/blog-pic-2.jpg" alt="image">
												<div class="play-icon">
													<a class="popup-with-zoom-anim" href="https://www.youtube.com/watch?v=syFZfO_wfMQ"><span class="red ti-control-play "></span></a>
												</div>
											</div>
										</div>
										<!-- /col-md-6 -->
										<div class="col-sm-6">
											<div class="blog-text">
												<div class="blog-tag text-uppercase pt40">
													<span class="tag-name red">EDUCTAION</span>
												</div>
												<!-- /blog-tag -->
												<div class="blog-head-title pt15">
													<h2 class="black"><a href="blog-single.html">Stop Running on Hard Surf and Become a Trail Runner</a></h2>
												</div>
												<div class="blog-meta mt10">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
														<li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
													</ul>
												</div>
												<div class="blog-text-content mt10 pb20">
													<p>
														Lorem ipsum dolor sit amet consecteturely is  adipisicing elit seddon eiusmod tempor incid  labore et dolore magna aliqua enim adminim veniam. elit seddon 
													</p>
												</div>
												<div class="blog-button text-uppercase">
													<a href="blog-single.html">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
												</div>
											</div>
											<!-- /blog-text -->
										</div>
									</div>
								</div>
								<!-- /blog-text-pic -->
							</div>

							<div class="blog-pic-text mb50">
								<div class="row">
									<div class="col-sm-6">
										<div class="blog-img">
											<img src="assets/img/blog-pic-3.jpg" alt="image">
										</div>
									</div>
									<!-- /col-md-6 -->
									<div class="col-sm-6">
										<div class="blog-text">
											<div class="blog-tag text-uppercase pt40">
												<span class="tag-name red">EDUCTAION</span>
											</div>
											<!-- /blog-tag -->
											<div class="blog-head-title pt15">
												<h2 class="black"><a href="blog-single.html">Stop Running on Hard Surf and Become a Trail Runner</a></h2>
											</div>
											<div class="blog-meta mt10">
												<ul class="meta-list">
													<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
													<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													<li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
												</ul>
											</div>
											<div class="blog-text-content mt10 pb20">
												<p>
													Lorem ipsum dolor sit amet consecteturely is  adipisicing elit seddon eiusmod tempor incid  labore et dolore magna aliqua enim adminim veniam. elit seddon 
												</p>
											</div>
											<div class="blog-button text-uppercase">
												<a href="blog-single.html">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
											</div>
										</div>
										<!-- /blog-text -->
									</div>
								</div>
							</div>
							<!-- /blog-text-pic -->

							<div class="blog-pic-text mb40">
								<div class="row">
									<div class="col-sm-6">
										<div class="blog-img">
											<img src="assets/img/blog-pic-4.jpg" alt="image">
										</div>
									</div>
									<!-- /col-md-6 -->
									<div class="col-sm-6">
										<div class="blog-text">
											<div class="blog-tag text-uppercase pt40">
												<span class="tag-name red">EDUCTAION</span>
											</div>
											<!-- /blog-tag -->
											<div class="blog-head-title pt15">
												<h2 class="black"><a href="blog-single.html">Stop Running on Hard Surf and Become a Trail Runner</a></h2>
											</div>
											<div class="blog-meta mt10">
												<ul class="meta-list">
													<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
													<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													<li><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
												</ul>
											</div>
											<div class="blog-text-content mt10 pb20">
												<p>
													Lorem ipsum dolor sit amet consecteturely is  adipisicing elit seddon eiusmod tempor incid  labore et dolore magna aliqua enim adminim veniam. elit seddon 
												</p>
											</div>
											<div class="blog-button text-uppercase">
												<a href="blog-single.html">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
											</div>
										</div>
										<!-- /blog-text -->
									</div>
								</div>
							</div>
							<!-- /blog-text-pic -->
							<div class="blog-pagination text-center">
								<ul class="pagination">
									<li><a href="#"><span class="ti-angle-double-left"></span></a></li>
									<li class="active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#"><span class="ti-angle-double-right"></span></a></li>
								</ul>
							</div>
						</div>
						<!-- /col-md-8 -->

						<div class="col-sm-4">
							<div class="side-bar-content ml15">
								<div class="side-bar-search mb40">
									<form action="#" method="get">
										<input type="text" class="" placeholder="Search here...">
										<button type="submit"><span class="ti-search"></span></button>
									</form>
								</div>
								<!-- /side-bar-search -->
								<div class="category mb40">
									<div class="side-bar-title mb40">
										<h2 class="widgettitle">Categories</h2>
									</div>
									<!-- /title -->
									<div class="category-item">
										<ul class="category-item-list">
											<li><a href="#">Donation</a><span class="badge pull-right">25</span></li>
											<li><a href="#">Education</a><span class="badge pull-right">25</span></li>
											<li><a href="#">Help </a><span class="badge pull-right">75</span></li>
											<li><a href="#">Donation</a><span class="badge pull-right">14</span></li>
											<li><a href="#">Education</a><span class="badge pull-right">26</span></li>
										</ul>
									</div>
								</div>
								<!-- /category-item -->

								<div class="blog-recent-post mb40">
									<div class="side-bar-title mb40">
										<h2 class="widgettitle">Recent Post</h2>
									</div>
									<!-- /title -->
									<div class="post-item">
										<div class="blog-recent-post-item mb20">
											<div class="blog-recent-post-pic mr25 pull-left">
												<img src="assets/img/recent-1.jpg" alt="image">
											</div>
											<!-- /img -->
											<div class="blog-recent-post-text">
												<div class="blog-recent-post-head">
													<a href="#">Dolore magna aliqua Ut enim ad minim</a>
												</div>
												<!-- /post-head -->
												<div class="blog-recent-post-meta mt5">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /post-item -->

										<div class="blog-recent-post-item mb20">
											<div class="blog-recent-post-pic mr25 pull-left">
												<img src="assets/img/recent-2.jpg" alt="image">
											</div>
											<!-- /img -->
											<div class="blog-recent-post-text">
												<div class="blog-recent-post-head">
													<a href="#">Dolore magna aliqua Ut enim ad minim</a>
												</div>
												<!-- /post-head -->
												<div class="blog-recent-post-meta mt5">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /post-item -->

										<div class="blog-recent-post-item">
											<div class="blog-recent-post-pic mr25 pull-left">
												<img src="assets/img/recent-3.jpg" alt="image">
											</div>
											<!-- /img -->
											<div class="blog-recent-post-text">
												<div class="blog-recent-post-head">
													<a href="#">Dolore magna aliqua Ut enim ad minim</a>
												</div>
												<!-- /post-head -->
												<div class="blog-recent-post-meta mt5">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /recent-post-item -->
									</div>
								</div>
								<!-- /blog-recent-post -->

								<div class="instagram-pic">
									<div class="side-bar-title mb40">
										<h2 class="widgettitle">Instagram</h2>
									</div>
									<!-- /title -->

									<div class="instagram-pic-list">
										<ul class="footer-gallery text-center">
											<li><a href="#"><img src="assets/img/ins-1.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-2.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-3.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-4.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-9.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-6.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-7.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-8.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-9.jpg" alt="image"></a></li>
										</ul>
									</div>
								</div>
								<!-- /instagram-pic-list -->
							</div>
						</div>
						<!-- /col-md-4 -->
					</div>
					<!-- /row -->
				</div>
			</div>
		</div>
	</section>
	<!-- End of  blog-archive 
	============================================= -->




	<!-- Start of footer section
	============================================= -->
	<footer id="footer-section" class="footer-style">
		<div class="footer-overlay">
			<div class="footer-contact-content-1">
				<div class="container">
					<div class="row">
						<div class="footer-contact-content">
							<div class="row">
								<div class="col-sm-2 col-xs-5">
									<div class="footer-contact-info">
										<ul class="footer-contact-info-list">
											<li><span class="pull-left icon ti-comments-smiley"></span><span class="info-details text-uppercase">call us</span><p>560 265 1523</p></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-3 col-xs-5">
									<div class="footer-contact-info">
										<ul class="footer-contact-info-list">
											<li><span class="pull-left icon ti-comments"></span><span class="info-details text-uppercase">PLEASE</span><p>GET CALL BACK</p></li>
										</ul>
									</div>
								</div>
								<div class="footer-social pull-right mt10">
									<div class="social">
										<ul class="social-list">
											<li><a href="#"><span class="ti-facebook"></span></a></li>
											<li><a href="#"><span class="ti-twitter"></span></a></li>
											<li><a href="#"><span class="ti-google"></span></a></li>
											<li><a href="#"><span class="ti-instagram"></span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /footer-contact-1 -->

			<div class="footer-main-content">
				<div class="container">
					<div class="row">
						<div class="footer-main-content-area pt75">
							<div class="row">
								<div class="col-sm-3">
									<div class="footer-logo pb20">
										<a  href="home-1.html"><img src="assets/img/f-logo.png" alt="image"></a>
									</div>
									<div class="footer-text">
										<p>Lorem ipsum dolor sit ametlyeolo consectetur adipisicing elit sed dong eiusmod tempor incididunt ut labore et incididunt.  </p>
									</div>
									<div class="footer-text">
										<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco. </p>
									</div>
								</div>
								<!-- /col-sm-3 -->

								<div class="col-sm-3">
									<div class="footer-head-title text-uppercase pb35">
										<h2 class="widgettitle">RECENT TWEET</h2>
									</div>
									<!-- /title -->
									<div class="recent-tweet-list">
										<div class="tweet-icon pull-left mr20">
											<span class="red ti-twitter"></span>
										</div>
										<div class="tweet-text">
											<span class="name-tweet"><a class="" href="#">@tonmoymishal</a></span>
											<span class="tweet-content">Excepteur sint occ aecat cupidatat </span> 
											<span class="red tweet-link"><a href="#">goo.gl/GjFUTp</a></span>
											<span class="tweet-time">45 min ago</span>
										</div>
									</div>
									<!-- /list -->

									<div class="recent-tweet-list mt10">
										<div class="tweet-icon pull-left mr20">
											<span class="red ti-twitter"></span>
										</div>
										<div class="tweet-text">
											<span class="name-tweet"><a class="" href="#">@tonmoymishal</a></span>
											<span class="tweet-content">Excepteur sint occ aecat cupidatat </span> 
											<span class="red tweet-link"><a href="#">goo.gl/GjFUTp</a></span>
											<span class="tweet-time">45 min ago</span>
										</div>
									</div>
								</div>
								<!-- /col-sm-3 -->

								<div class="col-sm-3">
									<div class="footer-head-title text-uppercase pb35">
										<h2 class="widgettitle">GET IN TOUCH</h2>
									</div>
									<!-- /title -->
									<div class="touch-content">
										<div class="tweet-text">
											<span class="name-tweet">Address: </span>
											<span class="tweet-content">315 Chat mohon Bazar New Yor, NY 4536 </span> 
										</div>
										<div class="tweet-text mt5">
											<span class="name-tweet">E-mail: </span>
											<span class="tweet-content">support@yourdomain.com </span> 
										</div>
										<div class="tweet-text mt5">
											<span class="name-tweet">Phone: </span>
											<span class="tweet-content">560 265 1523</span> 
										</div>
										<div class="newsletter-form">
											<form action="#" method="get" class="nwsltter">
												<div class="form-group">
													<input type="email" name="email" placeholder="Your Email" class="form-control">
												</div>
											</form>
											<div class="submit-btn">
												<button type="submit" value="Submit"><img src="assets/img/inbox.png" alt="image"></button>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-3 -->

								<div class="col-sm-3">
									<div class="footer-head-title text-uppercase pb35">
										<h2 class="widgettitle">GALLERY</h2>
									</div>
									<div class="footer-gallery pb35">
										<ul class="footer-gallery">
											<li><a href="#"><img src="assets/img/g-1.png" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/g-2.png" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/g-3.png" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/g-4.png" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/g-5.png" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/g-6.png" alt="image"></a></li>
										</ul>
									</div>
								</div>
								<!-- /col-sm-3 -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /footer-main-content -->
			<div class="footer-menu">
				<div class="container">
					<div class="row">
						<div class="footer-menu-content">
							<div class="copy-right pull-left">
								<p>© 2016 <span class="red"><a href="https://www.htmlmate.com/">HTMLmate</a> </span>All right reserved. </p>
							</div>
							<div class="footer-menu-list pull-right mt25">
								<ul class="menu-list">
									<li><a href="#">Home</a><span>/</span></li>
									<li><a href="#">Event</a><span>/</span></li>
									<li><a href="#">Cause</a><span>/</span></li>
									<li><a href="#">FAQ</a><span>/</span></li>
									<li><a href="#">Support</a><span></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End of footer section
	============================================= -->


	<!-- js -->
	<script type="text/javascript" src="assets/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="assets/js/waypoints.min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.counterup.min.js"></script>
	<script type="text/javascript" src="assets/js/parallax.min.js"></script>
	<script type="text/javascript" src="assets/js/wow.min.js"></script>
	<script type="text/javascript">new WOW().init();</script>
	<script type="text/javascript" src="assets/js/circle-progress.js"></script>
	<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="rev-slider/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="rev-slider/js/jquery.themepunch.revolution.min.js"></script>

    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS (Load Extensions only on Local File Systems !
    The following part can be removed on Server for On Demand Loading) -->

    <script type="text/javascript" src="rev-slider/js/revolution.extension.actions.min.js"></script>
    
    <script type="text/javascript" src="rev-slider/js/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="rev-slider/js/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="rev-slider/js/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="rev-slider/js/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="rev-slider/js/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="assets/js/function.js"></script>
</body> 
</html>