<%- include("header")-%>
	<!-- Start of blog details section  
	============================================= -->
	<section id="blog-details" class="blog-details-section pt60  pb80">
		<div class="container">
			<div class="row">
				<div class="blog-details-section-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="blog-details-section-left-side  pb80">
								<div class="blog-details-main-pic">
									<img src="assets/img/blog-detail.jpg" alt="image">
								</div>
								<!-- /img -->
								<div class="blog-single-text  pb50">
									<div class="blog-head-title pt15 pb20">
										<h2 class="black"><a href="#">It is extremely important for you to know what we do with the help of donors</a></h2>
									</div>
									<!-- /head -->
									<div class="blog-recent-post-meta">
										<ul class="meta-list pb20 mb20">
											<li><a class="black" href="#"><span class="mr5 ti-pencil"></span> Tonmoy</a></li>
											<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
											<li class="pull-right"><a href="#"><span class="mr5 ti-comment-alt"></span>45</a></li>
											<li class="pull-right"><a href="#"><span class="mr5 ti-heart"></span>45</a></li>
										</ul>
									</div>
									<!-- recent-post-meta -->
									<div class="blog-details-text">
										<p>Donors, who are people like you, or are leading organizations or International bodies, all come together to help us do what we do.Our breakthrough programmes are tailored to address the most pressing needs of children and their communities. Our programmes comply with all norms of child safety. We collaborate with local government, state and national government bodies in our endeavour</p>
									</div>
									<!-- /text -->
									<div class="blog-details-text pt15 pb10">
										<p>If our work inspires you and you feel that it goes a long way in improving children’s lives, then please consider making a contribution towards it.</p>
									</div>
									<!-- /text -->
									<div class="blog-details-quote mt40 pb30">
										<blockquote>
											There are many ways to push for much-needed reforms: One way is to make a donation. It doesn't matter much whether you contribute publicly or in a private way - either way is good. What matters is your true intention.

										</blockquote>
										<div class="quote-comma">
											<span class="ti-quote-left"></span>
										</div>
									</div>
									<!-- /blog-details-quote -->
									<div class="blog-details-inner-img-text mt15 pb40">
										<div class="row">
											<div class="col-sm-6">
												<div class="inner-text pb40 text-justify">
													<p>Save the Children is responding to the emerging crisis which affects those living at the fringes of the society. These are tough times for everyone, but even at times like these, children and families on streets, in slums, and those who are already living in poverty are the worst-affected and at the greatest risk.</p>
												</div>
												<!-- /text -->
												<div class="inner-text">
													<p>SUPPORT SAVE THE CHILDREN’S HUMANITARIAN RESPONSE FOR THE WORST-AFFECTED</p>
												</div>
												<!-- /text -->
											</div>
											<!-- /col-sm-6 -->
											<div class="col-sm-6">
												<div class="inner-img">
													<img src="assets/img/inner.jpg" alt="image">
												</div>
											</div>
										</div>
									</div>
									<!-- /inner-img-text -->

									<div class="blog-details-text">
										<p>Millions of children are not learning because of poverty, discrimination, the quality of the education on offer, or because they are too hungry to learn. These children leave school before they acquire the basic skills and knowledge needed to thrive within society.</p>
									</div>
									<!-- /text -->
									<div class="blog-details-tag-share pt75 clearfix">
										<div class="blog-tag pull-left">
											<ul>
												<li><a href="#">Funding</a></li>
												<li><a href="#">Education</a></li>
												<li><a href="#">Blog</a></li>
											</ul>
										</div>
										<!-- /blog-tag -->

										<div class="share-this pull-right">
											<ul>
												<li>Share This:</li>
												<li><a href="#"><span class="ti-twitter"></span></a></li>
												<li><a href="#"><span class="ti-facebook"></span></a></li>
												<li><a href="#"><span class="ti-google"></span></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- / blog-single-text-->
							</div>

							<div class="comment-area">
								<div class="comment-box mb50">
									<div class="comment-pic pull-left mr25">
										<img src="assets/img/comment-pic.jpg" alt="image">
									</div>
									<!-- /img -->
									<div class="comment-box-text-area clearfix">
										<div class="quate-client-text  pull-left">
											<span class="client-name"><a href="#">Tamanna</a></span>
											<span class="designation">CEO, CodexPond</span>
										</div>
										<div class="footer-social pull-right mt10">
											<div class="social">
												<ul class="social-list">
													<li><a href="#"><span class="ti-facebook"></span></a></li>
													<li><a href="#"><span class="ti-twitter"></span></a></li>
													<li><a href="#"><span class="ti-google"></span></a></li>
													<li><a href="#"><span class="ti-instagram"></span></a></li>
												</ul>
											</div>
										</div>
										<div class="inner-text clearfix pt15">
											<p>Education is the route out of poverty for many children. It gives them a chance to gain the knowledge and skills needed to improve their lives. But millions of children never see the inside of a classroom.</p>
										</div>
									</div>
								</div>
								<div class="reply-comment mb50">
									<div class="side-bar-title mb40">
										<h2>Commnents  [12]</h2>
									</div>
									<div class="client-name-reply pb70">
										<div class="reply-pic pull-left mr25">
											<img src="assets/img/reply-1.jpg" alt="image">
										</div>
										<div class="name-reply-text">
											<div class="name-reply pb20">
												<span class="client-name"><a href="#">Tamanna</a></span>
												<span class="designation">2day ago</span>
												<div class="comment-icon pull-right">
													<a href="#"><span class="ti-comments"></span></a>
												</div>
											</div>

											<div class="reply-text">
												<p>This is harsh reality  :)</p>
											</div>
										</div>
									</div>
									<!-- /client-name-reply --> 
									<div class="reply-text-2">
										<div class="client-name-reply">
											<div class="reply-pic pull-left mr25">
												<img src="assets/img/reply-2.jpg" alt="image">
											</div>
											<div class="name-reply-text">
												<div class="name-reply pb20">
													<span class="client-name"><a href="#">Saiful Islam</a></span>
													<span class="designation">2day ago</span>
													<div class="comment-icon pull-right">
														<a href="#"><span class="ti-comments"></span></a>
													</div>
												</div>

												<div class="reply-text">
													<p>Education is the birthright of every individual.All should seek knowledge</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /reply-comment -->
								<div class="leave-comment">
									<div class="side-bar-title mb40">
										<h2>Leave a Comment</h2>
									</div>
									<div class="leave-comment-form pb50 clearfix">
										<div class="comment-form">
											<form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
												<div class="leave-commen-info">
													<input class="name" name="name" type="text" placeholder="Your Name..">
												</div>
												<div class="leave-commen-info">
													<input class="email" name="email" type="text" placeholder="Your Website..">
												</div>
												<div class="leave-commen-info">
													<div class="leave-commen-info">
														<input class="email" name="email" type="text" placeholder="Phone Number...">
													</div>
												</div>
												<div class="leave-commen-info mt25">
													<textarea id="message" name="message" placeholder="Message Here.. " rows="7" cols="30"></textarea>

												</div>
												<div class="send-button text-uppercase pull-right">
													<button type="submit" value="Submit">SEND MESSAGE</button> 
												</div>
											</form>
										</div>
									</div>
								</div>
								<!-- /leave-comment -->
							</div>
						</div>
						<!-- /col-sm-8 -->

						<div class="col-sm-4">
							<div class="side-bar-content ml15">
								<div class="side-bar-search mb40">
									<form action="#" method="get">
										<input type="text" class="" placeholder="Search here...">
										<button type="submit"><span class="ti-search"></span></button>
									</form>
								</div>
								<!-- /side-bar-search -->
								<div class="category mb40">
									<div class="side-bar-title mb40">
										<h2 class="widgettitle">Categories</h2>
									</div>
									<!-- /title -->
									<div class="category-item">
										<ul class="category-item-list">
											<li><a href="#">Donation</a><span class="badge pull-right">25</span></li>
											<li><a href="#">Education</a><span class="badge pull-right">25</span></li>
											<li><a href="#">Help </a><span class="badge pull-right">75</span></li>
											<li><a href="#">Donation</a><span class="badge pull-right">14</span></li>
											<li><a href="#">Education</a><span class="badge pull-right">26</span></li>
										</ul>
									</div>
								</div>
								<!-- /category-item -->

								<div class="blog-recent-post mb40">
									<div class="side-bar-title mb40">
										<h2 class="widgettitle">Recent Post</h2>
									</div>
									<!-- /title -->
									<div class="post-item">
										<div class="blog-recent-post-item mb20">
											<div class="blog-recent-post-pic mr25 pull-left">
												<img src="assets/img/recent-1.jpg" alt="image">
											</div>
											<!-- /img -->
											<div class="blog-recent-post-text">
												<div class="blog-recent-post-head">
													<a href="#">Dolore magna aliqua Ut enim ad minim</a>
												</div>
												<!-- /post-head -->
												<div class="blog-recent-post-meta mt5">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /post-item -->

										<div class="blog-recent-post-item mb20">
											<div class="blog-recent-post-pic mr25 pull-left">
												<img src="assets/img/recent-2.jpg" alt="image">
											</div>
											<!-- /img -->
											<div class="blog-recent-post-text">
												<div class="blog-recent-post-head">
													<a href="#">Dolore magna aliqua Ut enim ad minim</a>
												</div>
												<!-- /post-head -->
												<div class="blog-recent-post-meta mt5">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /post-item -->

										<div class="blog-recent-post-item">
											<div class="blog-recent-post-pic mr25 pull-left">
												<img src="assets/img/recent-3.jpg" alt="image">
											</div>
											<!-- /img -->
											<div class="blog-recent-post-text">
												<div class="blog-recent-post-head">
													<a href="#">Dolore magna aliqua Ut enim ad minim</a>
												</div>
												<!-- /post-head -->
												<div class="blog-recent-post-meta mt5">
													<ul class="meta-list">
														<li><a class="black" href="#"><span class="mr5 ti-timer"></span> 26 Apr, 2017</a></li>
													</ul>
												</div>
											</div>
										</div>
										<!-- /recent-post-item -->
									</div>
								</div>
								<!-- /blog-recent-post -->

								<div class="instagram-pic">
									<div class="side-bar-title mb40">
										<h2 class="widgettitle">Instagram</h2>
									</div>
									<!-- /title -->

									<div class="instagram-pic-list">
										<ul class="footer-gallery text-center">
											<li><a href="#"><img src="assets/img/ins-1.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-2.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-3.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-4.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-9.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-6.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-7.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-8.jpg" alt="image"></a></li>
											<li><a href="#"><img src="assets/img/ins-9.jpg" alt="image"></a></li>
										</ul>
									</div>
								</div>
								<!-- /instagram-pic-list -->
							</div>
						</div>
						<!-- /col-md-4 -->
					</div>
					<!-- /row -->
				</div>
			</div>
		</div>
	</section>
	<!-- End of blog details section 
	============================================= -->

	<%- include("footer")-%>
