<%- include("header")-%>
	<!-- Start of Cause details page  
	============================================= -->
	<section id="cause-details-content" class="cause-details-section">
		<div class="container">
			<div class="row section-content">
				<div class="cause-details">
					<div class="cause-details-slide">
						<img src="assets/img/cause-details-1.jpg" alt="image">
						<img src="assets/img/cause-details-2.jpg" alt="image">
						<img src="assets/img/cause-details-3.jpg" alt="image">
					</div>
				</div>
				<!-- / cause-details-->
				<div class="cause-details-content">
					<div class="row">
						<div class="col-sm-8">
							<div class="cause-goal mb40">
								<div class="progress">
									<div class="progress-bar wow Rx-width-85 animated animated" role="progressbar" data-wow-duration="0.5s" data-wow-delay=".5s" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: Rx-width-85;">
										<span>85%</span>
									</div>
								</div>
								<div class="count-reached-goal clearfix pb30 mt10">
									<div class="count-reached pull-left">
										<p>Reached:  $45, 669 </p>
									</div>
									<div class="count-reached pull-right">
										<p>Goal:  $65, 669 </p>
									</div>
								</div>
								<div class="donate-now-btn">
									<div class="donate-btn text-uppercase">
										<a href="/donation">donate now</a>
									</div>
								</div>
							</div>
							<div class="cause-details-title">
								<div class="section-title-text mb20">
									<h2>Help For Flood Effected People</h2>
								</div>
								<div class="cause-details-text">
									<p>When you donate money,you will be used to rapidly procure resources, providing a constant stream of relief services and goods. This is the fastest form of relief that an ordinary person can undertake, as disaster relief is incredibly expensive. There are many long-term costs of rebuilding the damaged communities, and NGOs like Save the Children need all the assistance they can get keeping children safe from disease, the preying eyes of child exploitation, and illiteracy. You can easily donate online via net banking, thereby helping thousands of motivated volunteers, officers and employees working in an NGO.
</p>
									</div>
									<div class="blog-details-text pt15 pb10">
										<p>While the army and NDRF are assisting in evacuation, shelter, food and medical logistics, the survival of these people requires volunteers to be working round the clock.</p>
									</div>
								</div>
							</div>
							<!-- /col-sm-8 -->
							<div class="col-sm-4">
								<div class="side-bar-content ml15">
									<div class="side-bar-search mb40">
										<form action="#" method="get">
											<input type="text" class="" placeholder="Search here...">
											<button type="submit"><span class="ti-search"></span></button>
										</form>
									</div>
									<!-- /side-bar-search -->
									<div class="category mb40">
										<div class="side-bar-title mb40">
											<h2 class="widgettitle">Categories</h2>
										</div>
										<!-- /title -->
										<div class="category-item">
											<ul class="category-item-list">
												<li><a href="#">Donation</a><span class="badge pull-right">25</span></li>
												<li><a href="#">Education</a><span class="badge pull-right">25</span></li>
												<li><a href="#">Help </a><span class="badge pull-right">75</span></li>
												<li><a href="#">Donation</a><span class="badge pull-right">14</span></li>
												<li><a href="#">Education</a><span class="badge pull-right">26</span></li>
											</ul>
										</div>
									</div>
									<!-- /category-item -->
								</div>
							</div>
							<!-- /col-md-4 -->
						</div>
					</div>
				</div>
			</div>
		</section>
	<!-- End of  of Cause details page  
	============================================= -->

<!-- Start of partner section
	============================================= -->
	<section id="partner" class="partner-section">
		<div class="container">
			<div class="row">
				<div class="partner-section-slider">
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-1.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-3.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-3.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-2.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-4.png" alt="image"></a>
					</div>
					<div class="partner-pic">
						<a href=""><img src="assets/img/partner-1.png" alt="image"></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of partner section
	============================================= -->

	<%- include("footer")-%>
