<%- include("header")-%>


	<!-- Start of Causes page content 
	============================================= -->
	<section id="causes-page-content" class="causes-page-section">
		<div class="container">
			<div class="row section-content">
				<div class="causes-page-item">
					<div class="causes-page-left-item">
						<div class="causes-item">
							<div class="row">
								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-1.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->

								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-2.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->


								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-3.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->


								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-4.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->


								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-5.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->


								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-6.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->


								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-7.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->


								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-8.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->


								<div class="col-sm-4">
									<div class="recent-causes-pic-text causes colmd4">
										<div class="recent-causes-pic">
											<img src="assets/img/cause-9.jpg" alt="image">
										</div>
										<!-- /img -->
										<div class="cause-text pt75 pb50">
											<div class="donate-piechart">
												<div class="second circle"><canvas width="100" height="100"></canvas><canvas width="80" height="80"></canvas>
													<strong>  85<i>%</i></strong>
												</div>
											</div>
											<div class="gola-reach">
												<ul class="gola-reach-list">
													<li class="black">Raised:<span class="red"> Rs 85000</span></li>
													<li class="black">Goal:<span class="red">Rs 100000</span></li>
												</ul>
											</div>
											<div class="cause-text-head pt15 pb20 p10">
												<h3><a href="#">Donate for a better future  </a> </h3>
											</div>
											<div class="donate-now-btn">
												<div class="donate-btn margin0 text-uppercase">
													<a href="/donation">donate now</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /col-sm-4 -->

							</div>
						</div>
						<!-- /product-shop-item -->
					</div>
					<!-- /shop-page-left-item -->
				</div>
				<!-- /shop-page-item -->
				<div class="blog-pagination text-center">
					<ul class="pagination">
						<li><a href="#"><span class="ti-angle-double-left"></span></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><span class="ti-angle-double-right"></span></a></li>
					</ul>
				</div>
			</div>
			<!-- /section-conetent -->
		</div>
		<!-- /container -->
	</section>

	<!-- End of cause page content 
	============================================= -->

	<!-- Start of become a volentaree
	============================================= -->
	<section id="become-a-volentaree" class="become-a-volentaree-section">
		<div class="overlay">
			<div class="container">
				<div class="row section-content text-center">
					<div class="become-head pb20">
						<h2 class="mb20">Want to become a Volentaree?</h2>
						<p>Join With us</p>
					</div>
					<div class="donate-btn margin0 text-uppercase">
						<a href="#">join now</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End of become a volentaree
	============================================= -->


	<!-- Start of footer section
	============================================= -->
	<footer id="footer-section" class="footer-style">
		<div class="footer-overlay">
			<div class="footer-contact-content-1">
				<div class="container">
					<div class="row">
						<div class="footer-contact-content">
							<div class="row">
								<div class="col-sm-2 col-xs-5">
									<div class="footer-contact-info">
										<ul class="footer-contact-info-list">
											<li><span class="pull-left icon ti-comments-smiley"></span><span class="info-details text-uppercase">call us</span><p>560 265 1523</p></li>
										</ul>
									</div>
								</div>
								<div class="col-sm-3 col-xs-5">
									<div class="footer-contact-info">
										<ul class="footer-contact-info-list">
											<li><span class="pull-left icon ti-comments"></span><span class="info-details text-uppercase">PLEASE</span><p>GET CALL BACK</p></li>
										</ul>
									</div>
								</div>
								<div class="footer-social pull-right mt10">
									<div class="social">
										<ul class="social-list">
											<li><a href="#"><span class="ti-facebook"></span></a></li>
											<li><a href="#"><span class="ti-twitter"></span></a></li>
											<li><a href="#"><span class="ti-google"></span></a></li>
											<li><a href="#"><span class="ti-instagram"></span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	<%- include("footer")-%>
		