<%- include("header")-%>


	<!-- Start of Event section content
	============================================= -->
	<section id="event" class="event-list">
		<div class="container">
			<div class="row section-content">
				<div class="event-list-content">
					<div class="row">
						<div class="col-sm-4">
							<div class="event-list-item colmd4">
								<div class="event-list-pic">
									<img src="assets/img/blog-pic-1.jpg" alt="image">
								</div>
								<div class="event-date">
									<span><strong>26</strong> <br>April</span>
								</div>
								<div class="event-text clearfix ">
									<div class="blog-head-title pt15">
										<h2 class="black"><a href="#">Help Poor Children</a></h2>
									</div>
									<div class="event-location mt10">
										<div class="way-help-text-content pull-left">
											<p>315 Chat mohon Bazar <br>
												New Yor, NY 4536
											</p>
										</div>
										<div class="blog-button text-uppercase pull-right mt25 mr15">
											<a href="#">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-4 -->
						<div class="col-sm-4">
							<div class="event-list-item colmd4">
								<div class="event-list-pic">
									<img src="assets/img/blog-pic-2.jpg" alt="image">
								</div>
								<div class="event-date">
									<span><strong>26</strong> <br>April</span>
								</div>
								<div class="event-text clearfix ">
									<div class="blog-head-title pt15">
										<h2 class="black"><a href="#">Help Poor Children</a></h2>
									</div>
									<div class="event-location mt10">
										<div class="way-help-text-content pull-left">
											<p>315 Chat mohon Bazar <br>
												New Yor, NY 4536
											</p>
										</div>
										<div class="blog-button text-uppercase pull-right mt25 mr15">
											<a href="#">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-4 -->
						<div class="col-sm-4">
							<div class="event-list-item colmd4">
								<div class="event-list-pic">
									<img src="assets/img/blog-pic-3.jpg" alt="image">
								</div>
								<div class="event-date">
									<span><strong>26</strong> <br>April</span>
								</div>
								<div class="event-text clearfix ">
									<div class="blog-head-title pt15">
										<h2 class="black"><a href="#">Help Poor Children</a></h2>
									</div>
									<div class="event-location mt10">
										<div class="way-help-text-content pull-left">
											<p>315 Chat mohon Bazar <br>
												New Yor, NY 4536
											</p>
										</div>
										<div class="blog-button text-uppercase pull-right mt25 mr15">
											<a href="#">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-4 -->
						<div class="col-sm-4">
							<div class="event-list-item colmd4">
								<div class="event-list-pic">
									<img src="assets/img/blog-pic-2.jpg" alt="image">
								</div>
								<div class="event-date">
									<span><strong>26</strong> <br>April</span>
								</div>
								<div class="event-text clearfix ">
									<div class="blog-head-title pt15">
										<h2 class="black"><a href="#">Help Poor Children</a></h2>
									</div>
									<div class="event-location mt10">
										<div class="way-help-text-content pull-left">
											<p>315 Chat mohon Bazar <br>
												New Yor, NY 4536
											</p>
										</div>
										<div class="blog-button text-uppercase pull-right mt25 mr15">
											<a href="#">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-4 -->
						<div class="col-sm-4">
							<div class="event-list-item colmd4">
								<div class="event-list-pic">
									<img src="assets/img/blog-pic-1.jpg" alt="image">
								</div>
								<div class="event-date">
									<span><strong>26</strong> <br>April</span>
								</div>
								<div class="event-text clearfix ">
									<div class="blog-head-title pt15">
										<h2 class="black"><a href="#">Help Poor Children</a></h2>
									</div>
									<div class="event-location mt10">
										<div class="way-help-text-content pull-left">
											<p>315 Chat mohon Bazar <br>
												New Yor, NY 4536
											</p>
										</div>
										<div class="blog-button text-uppercase pull-right mt25 mr15">
											<a href="#">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-4 -->
						<div class="col-sm-4">
							<div class="event-list-item colmd4">
								<div class="event-list-pic">
									<img src="assets/img/blog-pic-3.jpg" alt="image">
								</div>
								<div class="event-date">
									<span><strong>26</strong> <br>April</span>
								</div>
								<div class="event-text clearfix ">
									<div class="blog-head-title pt15">
										<h2 class="black"><a href="#">Help Poor Children</a></h2>
									</div>
									<div class="event-location mt10">
										<div class="way-help-text-content pull-left">
											<p>315 Chat mohon Bazar <br>
												New Yor, NY 4536
											</p>
										</div>
										<div class="blog-button text-uppercase pull-right mt25 mr15">
											<a href="#">read more <span class="arrow-right-btn ti-arrow-right"></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- /col-sm-4 -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End of Event section  content
	============================================= -->
	<%- include("footer")-%>
